<div class="container">
  <nav class="green-navbar">
    <ul>
      <li>
        <a routerLink="/appointment-viewer" class="nav-link"
          ><i class="fas fa-chart-bar"></i> Foglalt időpontok
        </a>
      </li>
      <li>
        <a routerLink="/testdrive-viewer" class="nav-link"
          ><i class="fas fa-chart-bar"></i> Tesztvezetések
        </a>
      </li>
      <li>
        <a routerLink="/car-advertisement-management" class="nav-link"
          ><i class="fas fa-chart-bar"></i> Hírdetések kezelése
        </a>
      </li>
      <li>
        <a routerLink="/car-advertisement-handler" class="nav-link"
          ><i class="fas fa-chart-bar"></i> Hírdetések hozzáadása
        </a>
      </li>

      <li>
        <a
          routerLink="/user-management"
          class="nav-link active"
          routerLinkActive="active"
          ><i class="fas fa-chart-bar"></i> Felhasználók
        </a>
      </li>

      <li>
        <a routerLink="/my-profile" class="nav-link"
          ><i class="fas fa-car"></i> Profilom</a
        >
      </li>
    </ul>
  </nav>

  <h1>Regisztrált felhasználók listája:</h1>

  <div class="userContainer">
    <div class="user-list">
      <div *ngFor="let user of users | filterAdmin" class="user-card">
        <div class="user-header">
          <h3>{{ user.name }}</h3>
        </div>

        <div class="user-details">
          <p><strong>E-mail cím:</strong> {{ user.email }}</p>
          <p><strong>Telefonszám:</strong> {{ user.phoneNumber }}</p>
        </div>

        <div class="user-actions">
          <button (click)="onDelete(user._id)" class="delete-btn">
            Felhasználó törlése
          </button>
        </div>
      </div>
    </div>
    <div class="overlay" *ngIf="isLoading">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>
</div>
