<div class="container">
  <nav class="green-navbar">
    <ul>
      <li>
        <a routerLink="/appointment-viewer" class="nav-link"
          ><i class="fas fa-chart-bar"></i> Foglalt időpontok
        </a>
      </li>
      <li>
        <a routerLink="/testdrive-viewer" class="nav-link"
          ><i class="fas fa-chart-bar"></i> Tesztvezetések
        </a>
      </li>
      <li>
        <a routerLink="/car-advertisement-management"class="nav-link active" routerLinkActive="active"
          ><i class="fas fa-chart-bar"></i> Hírdetések kezelése
        </a>
      </li>
      <li>
        <a routerLink="/car-advertisement-handler" class="nav-link"
          ><i class="fas fa-chart-bar"></i> Hírdetések hozzáadása
        </a>
      </li>

      <li>
        <a routerLink="/user-management" class="nav-link"
          ><i class="fas fa-chart-bar"></i> Felhasználók
        </a>
      </li>

      <li>
        <a
          routerLink="/my-profile"
          class="nav-link"
          ><i class="fas fa-car"></i> Profilom</a
        >
      </li>
    </ul>
  </nav>

  <h1 style="text-align: center;">Az alábbi hírdetések találhatóak meg a rendszerben:</h1>

  <div class="advertisementContainer">

    <div class="advertisement-list">

      <div *ngFor="let car of carAdvertisements; let i = index" class="car-card">

        <div class="car-edit">
          <form [formGroup]="carForms[i]" (ngSubmit)="onUpdate(i)" class="car-form">

            <!-- Car Model and engine (Display Only) -->
            <div>
              <p><strong>{{carForms[i].value.carModel}} - {{carForms[i].value.trimLevel}}</strong></p>
              <p><strong> {{carForms[i].value.engine}}</strong></p>
            </div>

            <!-- Mileage -->
            <div>
              <label>Futásteljesítmény: {{ carForms[i].value.mileage }} km</label>
              <input formControlName="mileage" type="range" min="0" max="5000" step="50" [ngClass]="{'invalid-input': carForms[i].get('mileage')?.invalid && carForms[i].get('mileage')?.dirty || carForms[i].get('mileage')?.touched}">
            </div>

            <!-- Trim Level -->
            <div>
              <label>Felszereltségi szint:</label>
              <select formControlName="trimLevel" required [ngClass]="{'invalid-input': carForms[i].get('trimLevel')?.invalid && (carForms[i].get('trimLevel')?.dirty || carForms[i].get('trimLevel')?.touched)}">
                <option *ngFor="let trim of trimLevelOptions" [value]="trim">{{ trim }}</option>
              </select>
            </div>

            <!-- Optional Service -->
            <div>
              <label>Szolgáltatás:</label>
              <select formControlName="optionalService">
                <option value="">None</option>
                <option *ngFor="let service of optionalServiceOptions" [value]="service">{{ service }}</option>
              </select>
            </div>

            <!-- Price -->
            <div>
              <label>Ár: {{ carForms[i].value.price | currency:'HUF':'symbol':'1.0-0' }}</label>
              <input formControlName="price" type="range" min="0" max="15000000" step="50000" [ngClass]="{'invalid-input': carForms[i].get('price')?.invalid && (carForms[i].get('price')?.dirty || carForms[i].get('price')?.touched)}">
            </div>

            <!-- Image -->
            <div>
              <label>Kép:</label>
              <select formControlName="image" required [ngClass]="{'invalid-input': carForms[i].get('image')?.invalid && (carForms[i].get('image')?.dirty || carForms[i].get('image')?.touched)}">
                <option *ngFor="let image of availableImages" [value]="image">{{ image }}</option>
              </select>
            </div>

            <!-- Update Button -->
            <div class="buttons">
              <button type="submit" [disabled]="carForms[i].invalid || !carForms[i].dirty"> Hírdetés frissítése</button>
            </div>

            <!-- Delete Button -->
            <div class="buttons">
              <button type="button" (click)="onDelete(carForms[i].value._id)"> Hírdetés törlése</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- Loading Indicator -->
    <div class="overlay" *ngIf="isLoading">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
  </div>
</div>